.course-management-container {
    background: #002147;
  }
  
  .admin-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .admin-title {
    font-size: 24px;
    color: white;
  }
  
  .admin-subtitle {
    margin-bottom: 16px;
    color: #555;
  }
  
  .course-table .ant-table {
    background-color: #F1F6F9;
  }
  
  .course-table .ant-table-row {
    &:hover {
      background-color: #F1F6F9;
    }
  }
  .marks-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .marks-buttons button {
    border-radius: 8px;
    font-size: 0.9rem;
    background-color: #144272;
  }
  .welcome-header {
    text-align: center;
    padding: 2rem 1rem;
    background: #F1F6F9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .welcome-title {
    color: #000000;
  }
  .welcome-header:hover {
    transform: scale(1.05); /* Increase size by 5% on hover */
    background-color: #F1F6F9; /* Change to a lighter shade */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
  }
  