.admin-students-container {
    background: #002147;
  }
  
  .admin-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1.5rem;
    gap: 1rem;
  }
  .admin-title {
    text-align: center;
    font-family: 'Inter', sans-serif;
    color:white !important;
  }
  .admin-subtitle {
    text-align: center;
    display:block;
    color: white !important;
    margin-bottom: 1.5rem;
  }
  .search-bar {
    max-width: 300px;
    border-radius: 8px;
    margin-top: 2rem;
  }
  
  .student-table {
    background: #F1F6F9;
    margin-top: 3rem;
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  }
  .marks-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .marks-buttons button {
    border-radius: 8px;
    font-size: 0.9rem;
    background-color: #144272;
  }
  .welcome-header {
    text-align: center;
    padding: 2rem 1rem;
    background: #F1F6F9;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .welcome-title {
    color: #000000;
  }
  .welcome-header:hover {
    transform: scale(1.05); /* Increase size by 5% on hover */
    background-color: #F1F6F9; /* Change to a lighter shade */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Add a shadow effect */
  }